<!--Navigation bar-->
    <header class="navbar" [class.scrolled]="isNavScrolled">
        <div class="navbar-inner">
                <a href="/">
                    <img src="/assets/Images/TBS_logo.png" class="logo" alt="TBS_logo">
                </a>
                <nav class="nav-links">
                    <a href="/"><i class="fa-regular fa-house"></i>Home</a>
                    <a href="/#about-us"><i class="fa-regular fa-user"></i>About Us</a>
                    <a href="/#services"><i class="fa-regular fa-truck"></i>Services</a>
                    <a href="/#why-us"><i class="fa-solid fa-award"></i>Why Us</a>
                    <a href="/#clients"><i class="fa-regular fa-address-book"></i>Clients</a>
                    <a href="/#contact-us"><i class="fa-regular fa-comments"></i>Contact Us</a>
                </nav>
        </div>
    </header>